@import url('https://fonts.googleapis.com/css2?family=Handlee&family=IBM+Plex+Sans+Condensed:wght@400;500&family=Libre+Caslon+Text:wght@700&family=Roboto+Mono:wght@319&family=Rubik&family=Unna:wght@700&display=swap');$font-title: 'Libre Caslon Text', serif;
$font-subtitle: 'Unna', serif;
$font-content: 'Rubik', sans-serif;
$font-buttons: 'IBM Plex Sans Condensed', sans-serif;
$underline: 'Handlee', cursive;
$leade: 'Roboto Mono', monospace;

